doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', href='css/main.min.css')
  body
    h1 Заголовок новый
    //- комментарий
    p Параграф
    .test блок развернутый
    script(src='js/script.min.js')
