body {
  margin: 0;
  font-size: $font-size;
  font-family: sans-serif;
  background-color: green;


  @media (min-width: 768px) {
    display: block;
  }
}

.test{
  background-color: red;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}

.container {
  @include grid();
}

.form {
  @include form();
}

.block {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}
